/* amra joni kono css file jodi react e module char alekha hoy tahole seta pura react e pabe joic sma class name deya hoy.. */
.signup-form {
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}